env
*.pyc
staticfiles
local_settings.py
secret_settings.py
db.sqlite3
htmlcov
dump.rdb
.coverage

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
