container_commands:
  01_migrate:
    command: "python manage.py migrate"
    leader_only: true
  02_collectstatic:
    command: "source /opt/python/run/venv/bin/activate && python manage.py collectstatic --noinput"
  03_populate:
    command: "python populate.py"
option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "theRealPOD.settings"
    PYTHONPATH: "/opt/python/current/app/theRealPOD:$PYTHONPATH"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: "theRealPOD/wsgi.py"
  "aws:elasticbeanstalk:container:python:staticfiles":
    "/static/": "static/"
